=begin
#iDroit Dashboard Admin API

#     これは[株式会社フォアー](https://www.fore-co.ltd/ja/)が開発するを使ったDecentralizd Identifiers / Verifiable Credentials(DID/VC)に関係する機能を簡単に利用するための REST API です。現在以下のユースケースをサポートしています。これは今後も拡張されていきます。     - DIDの生成:      - グループ管理機能       - (企業/プロジェクトのまとまり)ごとにユーザー、クライアント、証明書(VC)スキーマを紐付けて管理する。          詳細は以下を参照してください。     - [idroit dashboard admin UI](https://admin.idroit-dashboard.com)     - [idroit dashboard公式ホームページ]()     - [idroit dashboard操作マニュアル]()      以下は関連リンクです。     - [Universal Resolver](https://dev.uniresolver.io/)     - [W3C DID Core 1.0](https://www.w3.org/TR/did-core/)     - [Verifiable Credentials Data Model v2.0](https://www.w3.org/TR/vc-data-model-2.0/)   

OpenAPI spec version: 0.9.2

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.68
=end

module SwaggerClient
  class BadgesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Badgeへのラベル追加
    # リクエストパラメータのidで指定された単一のBadgeに対して、任意の管理用ラベルを追加します。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [BadgeResponseDto]
    def badges_controller_add_label(body, id, opts = {})
      data, _status_code, _headers = badges_controller_add_label_with_http_info(body, id, opts)
      data
    end

    # Badgeへのラベル追加
    # リクエストパラメータのidで指定された単一のBadgeに対して、任意の管理用ラベルを追加します。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BadgeResponseDto, Integer, Hash)>] BadgeResponseDto data, response status code and response headers
    def badges_controller_add_label_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BadgesApi.badges_controller_add_label ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BadgesApi.badges_controller_add_label"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BadgesApi.badges_controller_add_label"
      end
      # resource path
      local_var_path = '/api/v1/badges/{id}/label'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'BadgeResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BadgesApi#badges_controller_add_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # 新規バッジ発行
    # 新規バッジを発行します。
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [BadgeResponseDto]
    def badges_controller_create(body, opts = {})
      data, _status_code, _headers = badges_controller_create_with_http_info(body, opts)
      data
    end

    # 新規バッジ発行
    # 新規バッジを発行します。
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BadgeResponseDto, Integer, Hash)>] BadgeResponseDto data, response status code and response headers
    def badges_controller_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BadgesApi.badges_controller_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BadgesApi.badges_controller_create"
      end
      # resource path
      local_var_path = '/api/v1/badges'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'BadgeResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BadgesApi#badges_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # バッジダウンロード
    # リクエストパラメータのidで指定された単一のバッジ画像のバイナリデータを返します。
    # @param id 
    # @param vp_info_id 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def badges_controller_download(id, vp_info_id, opts = {})
      data, _status_code, _headers = badges_controller_download_with_http_info(id, vp_info_id, opts)
      data
    end

    # バッジダウンロード
    # リクエストパラメータのidで指定された単一のバッジ画像のバイナリデータを返します。
    # @param id 
    # @param vp_info_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def badges_controller_download_with_http_info(id, vp_info_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BadgesApi.badges_controller_download ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BadgesApi.badges_controller_download"
      end
      # verify the required parameter 'vp_info_id' is set
      if @api_client.config.client_side_validation && vp_info_id.nil?
        fail ArgumentError, "Missing the required parameter 'vp_info_id' when calling BadgesApi.badges_controller_download"
      end
      # resource path
      local_var_path = '/api/v1/badges/{id}/download'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'vpInfoId'] = vp_info_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'String' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BadgesApi#badges_controller_download\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # バッジファイル検証
    # @param file 
    # @param [Hash] opts the optional parameters
    # @return [VerifiyBadgeFileReponseDto]
    def badges_controller_file_verify(file, opts = {})
      data, _status_code, _headers = badges_controller_file_verify_with_http_info(file, opts)
      data
    end

    # バッジファイル検証
    # @param file 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifiyBadgeFileReponseDto, Integer, Hash)>] VerifiyBadgeFileReponseDto data, response status code and response headers
    def badges_controller_file_verify_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BadgesApi.badges_controller_file_verify ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling BadgesApi.badges_controller_file_verify"
      end
      # resource path
      local_var_path = '/api/v1/badges/file'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VerifiyBadgeFileReponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BadgesApi#badges_controller_file_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # バッジ一覧取得
    # アプリケーションが管理するバッジ情報を一覧として値を返します。
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :page (必須) ページネーションを表示する際のページ数に当たるクエリパラメーター。全件取得する際は1を指定。(デフォルト: 1)
    # @option opts [BigDecimal] :limit (必須) ページネーションを表示する際のページ数あたりに表示する件数を指定するクエリパラメーター。全件取得する際は0を指定。(デフォルト: 10)
    # @option opts [String] :label (任意) 例: \&quot;sample-badge-1\&quot;
    # @option opts [String] :filename (任意) 例: \&quot;badge-12345-12345.png\&quot;
    # @option opts [String] :description (任意) 
    # @option opts [BigDecimal] :status (任意) 例: 1
    # @return [BadgesResponseDto]
    def badges_controller_find_all(opts = {})
      data, _status_code, _headers = badges_controller_find_all_with_http_info(opts)
      data
    end

    # バッジ一覧取得
    # アプリケーションが管理するバッジ情報を一覧として値を返します。
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :page (必須) ページネーションを表示する際のページ数に当たるクエリパラメーター。全件取得する際は1を指定。(デフォルト: 1)
    # @option opts [BigDecimal] :limit (必須) ページネーションを表示する際のページ数あたりに表示する件数を指定するクエリパラメーター。全件取得する際は0を指定。(デフォルト: 10)
    # @option opts [String] :label (任意) 例: \&quot;sample-badge-1\&quot;
    # @option opts [String] :filename (任意) 例: \&quot;badge-12345-12345.png\&quot;
    # @option opts [String] :description (任意) 
    # @option opts [BigDecimal] :status (任意) 例: 1
    # @return [Array<(BadgesResponseDto, Integer, Hash)>] BadgesResponseDto data, response status code and response headers
    def badges_controller_find_all_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BadgesApi.badges_controller_find_all ...'
      end
      # resource path
      local_var_path = '/api/v1/badges'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'label'] = opts[:'label'] if !opts[:'label'].nil?
      query_params[:'filename'] = opts[:'filename'] if !opts[:'filename'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BadgesResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BadgesApi#badges_controller_find_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # バッジ詳細取得
    # リクエストパラメータのidで指定された単一のバッジ情報の詳細情報の値を返します。
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [BadgeResponseDto]
    def badges_controller_find_one(id, opts = {})
      data, _status_code, _headers = badges_controller_find_one_with_http_info(id, opts)
      data
    end

    # バッジ詳細取得
    # リクエストパラメータのidで指定された単一のバッジ情報の詳細情報の値を返します。
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BadgeResponseDto, Integer, Hash)>] BadgeResponseDto data, response status code and response headers
    def badges_controller_find_one_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BadgesApi.badges_controller_find_one ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BadgesApi.badges_controller_find_one"
      end
      # resource path
      local_var_path = '/api/v1/badges/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BadgeResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BadgesApi#badges_controller_find_one\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # バッジ検証
    # バッジのVC/VPの検証を実行します。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [VerifiyBadgeReponseDto]
    def badges_controller_verify(body, id, opts = {})
      data, _status_code, _headers = badges_controller_verify_with_http_info(body, id, opts)
      data
    end

    # バッジ検証
    # バッジのVC/VPの検証を実行します。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifiyBadgeReponseDto, Integer, Hash)>] VerifiyBadgeReponseDto data, response status code and response headers
    def badges_controller_verify_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BadgesApi.badges_controller_verify ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BadgesApi.badges_controller_verify"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BadgesApi.badges_controller_verify"
      end
      # resource path
      local_var_path = '/api/v1/badges/{id}/verify'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'VerifiyBadgeReponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BadgesApi#badges_controller_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
