=begin
#iDroit Dashboard Admin API

#     これは[株式会社フォアー](https://www.fore-co.ltd/ja/)が開発するを使ったDecentralizd Identifiers / Verifiable Credentials(DID/VC)に関係する機能を簡単に利用するための REST API です。現在以下のユースケースをサポートしています。これは今後も拡張されていきます。     - DIDの生成:      - グループ管理機能       - (企業/プロジェクトのまとまり)ごとにユーザー、クライアント、証明書(VC)スキーマを紐付けて管理する。          詳細は以下を参照してください。     - [idroit dashboard admin UI](https://admin.idroit-dashboard.com)     - [idroit dashboard公式ホームページ]()     - [idroit dashboard操作マニュアル]()      以下は関連リンクです。     - [Universal Resolver](https://dev.uniresolver.io/)     - [W3C DID Core 1.0](https://www.w3.org/TR/did-core/)     - [Verifiable Credentials Data Model v2.0](https://www.w3.org/TR/vc-data-model-2.0/)   

OpenAPI spec version: 0.9.2

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.68
=end

module SwaggerClient
  class VcInfosApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # VC情報へのラベル追加
    # リクエストパラメータのidで指定された単一のVC情報に対して、任意の管理用ラベルを追加します。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [VcInfoResponseDto]
    def vc_infos_controller_add_label(body, id, opts = {})
      data, _status_code, _headers = vc_infos_controller_add_label_with_http_info(body, id, opts)
      data
    end

    # VC情報へのラベル追加
    # リクエストパラメータのidで指定された単一のVC情報に対して、任意の管理用ラベルを追加します。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcInfoResponseDto, Integer, Hash)>] VcInfoResponseDto data, response status code and response headers
    def vc_infos_controller_add_label_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_add_label ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VcInfosApi.vc_infos_controller_add_label"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VcInfosApi.vc_infos_controller_add_label"
      end
      # resource path
      local_var_path = '/api/v1/vc-infos/{id}/label'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'VcInfoResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_add_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VC情報へのクライアントアカウント紐付け
    # VC情報の所有者、関係者などの管理者としてクライアントアカウントを紐付けます。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def vc_infos_controller_connect_user(body, id, opts = {})
      vc_infos_controller_connect_user_with_http_info(body, id, opts)
      nil
    end

    # VC情報へのクライアントアカウント紐付け
    # VC情報の所有者、関係者などの管理者としてクライアントアカウントを紐付けます。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def vc_infos_controller_connect_user_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_connect_user ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VcInfosApi.vc_infos_controller_connect_user"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VcInfosApi.vc_infos_controller_connect_user"
      end
      # resource path
      local_var_path = '/api/v1/vc-infos/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_connect_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # 新規VC発行
    # 新規VCを発行します。
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [VcInfoResponseDto]
    def vc_infos_controller_create(body, opts = {})
      data, _status_code, _headers = vc_infos_controller_create_with_http_info(body, opts)
      data
    end

    # 新規VC発行
    # 新規VCを発行します。
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcInfoResponseDto, Integer, Hash)>] VcInfoResponseDto data, response status code and response headers
    def vc_infos_controller_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VcInfosApi.vc_infos_controller_create"
      end
      # resource path
      local_var_path = '/api/v1/vc-infos'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'VcInfoResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VC情報のクライアントアカウント紐付け解除
    # VC情報に紐付いたクライアントアカウントの紐付けを解除します。
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def vc_infos_controller_disconnect_user(id, opts = {})
      vc_infos_controller_disconnect_user_with_http_info(id, opts)
      nil
    end

    # VC情報のクライアントアカウント紐付け解除
    # VC情報に紐付いたクライアントアカウントの紐付けを解除します。
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def vc_infos_controller_disconnect_user_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_disconnect_user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VcInfosApi.vc_infos_controller_disconnect_user"
      end
      # resource path
      local_var_path = '/api/v1/vc-infos/{id}/user'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_disconnect_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VC情報一覧取得
    # アプリケーションが管理するVC情報を一覧として値を返します。
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :page (必須) ページネーションを表示する際のページ数に当たるクエリパラメーター。全件取得する際は1を指定。(デフォルト: 1)
    # @option opts [BigDecimal] :limit (必須) ページネーションを表示する際のページ数あたりに表示する件数を指定するクエリパラメーター。全件取得する際は0を指定。(デフォルト: 10)
    # @option opts [String] :label (任意) 例: \&quot;vc-for-project1\&quot;
    # @option opts [String] :description (任意) 
    # @return [VcInfosResponseDto]
    def vc_infos_controller_find_all(opts = {})
      data, _status_code, _headers = vc_infos_controller_find_all_with_http_info(opts)
      data
    end

    # VC情報一覧取得
    # アプリケーションが管理するVC情報を一覧として値を返します。
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :page (必須) ページネーションを表示する際のページ数に当たるクエリパラメーター。全件取得する際は1を指定。(デフォルト: 1)
    # @option opts [BigDecimal] :limit (必須) ページネーションを表示する際のページ数あたりに表示する件数を指定するクエリパラメーター。全件取得する際は0を指定。(デフォルト: 10)
    # @option opts [String] :label (任意) 例: \&quot;vc-for-project1\&quot;
    # @option opts [String] :description (任意) 
    # @return [Array<(VcInfosResponseDto, Integer, Hash)>] VcInfosResponseDto data, response status code and response headers
    def vc_infos_controller_find_all_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_find_all ...'
      end
      # resource path
      local_var_path = '/api/v1/vc-infos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'label'] = opts[:'label'] if !opts[:'label'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VcInfosResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_find_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VC情報詳細取得
    # リクエストパラメータのidで指定された単一のVC情報の詳細情報の値を返します。
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [VcInfoResponseDto]
    def vc_infos_controller_find_one(id, opts = {})
      data, _status_code, _headers = vc_infos_controller_find_one_with_http_info(id, opts)
      data
    end

    # VC情報詳細取得
    # リクエストパラメータのidで指定された単一のVC情報の詳細情報の値を返します。
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcInfoResponseDto, Integer, Hash)>] VcInfoResponseDto data, response status code and response headers
    def vc_infos_controller_find_one_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_find_one ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VcInfosApi.vc_infos_controller_find_one"
      end
      # resource path
      local_var_path = '/api/v1/vc-infos/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VcInfoResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_find_one\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # 新規VP情報生成
    # リクエストパラメータのidで指定されたVC情報から新規VPを発行します。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [VcInfoResponseDto]
    def vc_infos_controller_generate_vp(body, id, opts = {})
      data, _status_code, _headers = vc_infos_controller_generate_vp_with_http_info(body, id, opts)
      data
    end

    # 新規VP情報生成
    # リクエストパラメータのidで指定されたVC情報から新規VPを発行します。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcInfoResponseDto, Integer, Hash)>] VcInfoResponseDto data, response status code and response headers
    def vc_infos_controller_generate_vp_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_generate_vp ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VcInfosApi.vc_infos_controller_generate_vp"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VcInfosApi.vc_infos_controller_generate_vp"
      end
      # resource path
      local_var_path = '/api/v1/vc-infos/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'VcInfoResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_generate_vp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # 新規VC発行(スキーマなし)
    # VCスキーマを指定せず直接新規VCを発行します。
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [VcInfoResponseDto]
    def vc_infos_controller_issue(body, opts = {})
      data, _status_code, _headers = vc_infos_controller_issue_with_http_info(body, opts)
      data
    end

    # 新規VC発行(スキーマなし)
    # VCスキーマを指定せず直接新規VCを発行します。
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcInfoResponseDto, Integer, Hash)>] VcInfoResponseDto data, response status code and response headers
    def vc_infos_controller_issue_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_issue ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VcInfosApi.vc_infos_controller_issue"
      end
      # resource path
      local_var_path = '/api/v1/vc-infos/issue'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'VcInfoResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_issue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # 新規VCアップロード
    # 外部で発行された既存VCをアップロードし、本アプリケーションに保存します。。
    # @param credential_object 
    # @param label 
    # @param description 
    # @param [Hash] opts the optional parameters
    # @return [VcInfoResponseDto]
    def vc_infos_controller_upload(credential_object, label, description, opts = {})
      data, _status_code, _headers = vc_infos_controller_upload_with_http_info(credential_object, label, description, opts)
      data
    end

    # 新規VCアップロード
    # 外部で発行された既存VCをアップロードし、本アプリケーションに保存します。。
    # @param credential_object 
    # @param label 
    # @param description 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcInfoResponseDto, Integer, Hash)>] VcInfoResponseDto data, response status code and response headers
    def vc_infos_controller_upload_with_http_info(credential_object, label, description, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcInfosApi.vc_infos_controller_upload ...'
      end
      # verify the required parameter 'credential_object' is set
      if @api_client.config.client_side_validation && credential_object.nil?
        fail ArgumentError, "Missing the required parameter 'credential_object' when calling VcInfosApi.vc_infos_controller_upload"
      end
      # verify the required parameter 'label' is set
      if @api_client.config.client_side_validation && label.nil?
        fail ArgumentError, "Missing the required parameter 'label' when calling VcInfosApi.vc_infos_controller_upload"
      end
      # verify the required parameter 'description' is set
      if @api_client.config.client_side_validation && description.nil?
        fail ArgumentError, "Missing the required parameter 'description' when calling VcInfosApi.vc_infos_controller_upload"
      end
      # resource path
      local_var_path = '/api/v1/vc-infos/upload'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['credentialObject'] = credential_object
      form_params['label'] = label
      form_params['description'] = description

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VcInfoResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcInfosApi#vc_infos_controller_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
