=begin
#iDroit Dashboard Admin API

#     これは[株式会社フォアー](https://www.fore-co.ltd/ja/)が開発するを使ったDecentralizd Identifiers / Verifiable Credentials(DID/VC)に関係する機能を簡単に利用するための REST API です。現在以下のユースケースをサポートしています。これは今後も拡張されていきます。     - DIDの生成:      - グループ管理機能       - (企業/プロジェクトのまとまり)ごとにユーザー、クライアント、証明書(VC)スキーマを紐付けて管理する。          詳細は以下を参照してください。     - [idroit dashboard admin UI](https://admin.idroit-dashboard.com)     - [idroit dashboard公式ホームページ]()     - [idroit dashboard操作マニュアル]()      以下は関連リンクです。     - [Universal Resolver](https://dev.uniresolver.io/)     - [W3C DID Core 1.0](https://www.w3.org/TR/did-core/)     - [Verifiable Credentials Data Model v2.0](https://www.w3.org/TR/vc-data-model-2.0/)   

OpenAPI spec version: 0.9.2

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.68
=end

module SwaggerClient
  class VcSchemasApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 新規VCスキーマ作成
    # 新規VCスキーマを作成します。
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [VcSchemaResponseDto]
    def vc_schemas_controller_create(body, opts = {})
      data, _status_code, _headers = vc_schemas_controller_create_with_http_info(body, opts)
      data
    end

    # 新規VCスキーマ作成
    # 新規VCスキーマを作成します。
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcSchemaResponseDto, Integer, Hash)>] VcSchemaResponseDto data, response status code and response headers
    def vc_schemas_controller_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcSchemasApi.vc_schemas_controller_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VcSchemasApi.vc_schemas_controller_create"
      end
      # resource path
      local_var_path = '/api/v1/vc-schemas'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'VcSchemaResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcSchemasApi#vc_schemas_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VCスキーマ一覧取得
    # VCスキーマを一覧として値を返します。
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :page (必須) ページネーションを表示する際のページ数に当たるクエリパラメーター。全件取得する際は1を指定。(デフォルト: 1)
    # @option opts [BigDecimal] :limit (必須) ページネーションを表示する際のページ数あたりに表示する件数を指定するクエリパラメーター。全件取得する際は0を指定。(デフォルト: 10)
    # @option opts [String] :title (任意) 例: \&quot;Schema Sample\&quot;
    # @option opts [String] :version (任意) 例: \&quot;1.0.0\&quot;
    # @option opts [String] :description (任意) 例: 
    # @option opts [BOOLEAN] :is_badge_schema (任意) 例: true
    # @return [VcSchemasResponseDto]
    def vc_schemas_controller_find_all(opts = {})
      data, _status_code, _headers = vc_schemas_controller_find_all_with_http_info(opts)
      data
    end

    # VCスキーマ一覧取得
    # VCスキーマを一覧として値を返します。
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :page (必須) ページネーションを表示する際のページ数に当たるクエリパラメーター。全件取得する際は1を指定。(デフォルト: 1)
    # @option opts [BigDecimal] :limit (必須) ページネーションを表示する際のページ数あたりに表示する件数を指定するクエリパラメーター。全件取得する際は0を指定。(デフォルト: 10)
    # @option opts [String] :title (任意) 例: \&quot;Schema Sample\&quot;
    # @option opts [String] :version (任意) 例: \&quot;1.0.0\&quot;
    # @option opts [String] :description (任意) 例: 
    # @option opts [BOOLEAN] :is_badge_schema (任意) 例: true
    # @return [Array<(VcSchemasResponseDto, Integer, Hash)>] VcSchemasResponseDto data, response status code and response headers
    def vc_schemas_controller_find_all_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcSchemasApi.vc_schemas_controller_find_all ...'
      end
      # resource path
      local_var_path = '/api/v1/vc-schemas'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'version'] = opts[:'version'] if !opts[:'version'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'isBadgeSchema'] = opts[:'is_badge_schema'] if !opts[:'is_badge_schema'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VcSchemasResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcSchemasApi#vc_schemas_controller_find_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VCスキーマ情報詳細取得
    # リクエストパラメータのidで指定された単一のVCスキーマの詳細情報の値を返します。
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [VcSchemaResponseDto]
    def vc_schemas_controller_find_one(id, opts = {})
      data, _status_code, _headers = vc_schemas_controller_find_one_with_http_info(id, opts)
      data
    end

    # VCスキーマ情報詳細取得
    # リクエストパラメータのidで指定された単一のVCスキーマの詳細情報の値を返します。
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcSchemaResponseDto, Integer, Hash)>] VcSchemaResponseDto data, response status code and response headers
    def vc_schemas_controller_find_one_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcSchemasApi.vc_schemas_controller_find_one ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VcSchemasApi.vc_schemas_controller_find_one"
      end
      # resource path
      local_var_path = '/api/v1/vc-schemas/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VcSchemaResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcSchemasApi#vc_schemas_controller_find_one\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VCスキーマへのグループ紐付け
    # VCスキーマに関連するグループを紐付けます。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [VcSchemaResponseDto]
    def vc_schemas_controller_update(body, id, opts = {})
      data, _status_code, _headers = vc_schemas_controller_update_with_http_info(body, id, opts)
      data
    end

    # VCスキーマへのグループ紐付け
    # VCスキーマに関連するグループを紐付けます。
    # @param body 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VcSchemaResponseDto, Integer, Hash)>] VcSchemaResponseDto data, response status code and response headers
    def vc_schemas_controller_update_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VcSchemasApi.vc_schemas_controller_update ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VcSchemasApi.vc_schemas_controller_update"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VcSchemasApi.vc_schemas_controller_update"
      end
      # resource path
      local_var_path = '/api/v1/vc-schemas/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'VcSchemaResponseDto' 

      auth_names = opts[:auth_names] || ['bearer']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VcSchemasApi#vc_schemas_controller_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
